# Virtual environment
crowdguard-env/

# Python cache
__pycache__/
*.pyc
models/yolo/

# Data
data/raw_videos/
data/processed/*.npy

# Models
models/edge/*.pt
models/yolo/weights/*.pt

# OS
.DS_Store
Thumbs.db
